RewriteEngine on
RewriteRule ^/?$  index.php?controller=results [L]
RewriteRule ^([a-z]+)/?$  index.php?controller=$1&action=index [L]
RewriteRule ^([a-z]+)/([a-z]+)/?$  index.php?controller=$1&action=$2 [L]